<div class="form-wrapper">
  <div class="form-container">
    <mat-horizontal-stepper #stepper linear [disableRipple]="false">
      <!-- Step 1 - Informações Pessoais -->
      <mat-step [stepControl]="personalForm" [editable]="true">
        <form [formGroup]="personalForm">
          <ng-template matStepLabel>Informações Pessoais</ng-template>

          <div class="step-content">
          <!-- Nome -->
          <input class="input-custom" placeholder="Nome" formControlName="nome" />

          <!-- Sobrenome -->
          <input class="input-custom" placeholder="Sobrenome" formControlName="sobrenome" />

          <!-- Email -->
          <input class="input-custom" placeholder="Email" type="email" formControlName="email" />

          <!-- Telefone -->
          <input class="input-custom" placeholder="Telefone" formControlName="telefone" mask="(00) 00000-0000"/>

          <!-- Data de Nascimento -->
          <input class="input-custom" placeholder="Data de Nascimento" formControlName="dataNascimento" mask="00/00/0000"/>

          <div class="button-group">
            <button mat-button color="warn" type="button" (click)="personalForm.reset()">Apagar</button>
            <button mat-raised-button color="primary" matStepperNext>Próxima</button>
          </div>
          </div>
        </form>
      </mat-step>

      <!-- Step 2 - Endereço -->
      <mat-step [stepControl]="addressForm" [editable]="false">
        <form [formGroup]="addressForm">
          <ng-template matStepLabel>Endereço</ng-template>

          <div class="step-content">
          <!-- CEP -->
          <input class="input-custom" placeholder="CEP" formControlName="cep" mask="00000-000" (blur)="buscarEnderecoPorCep()" />

          <!-- Logradouro -->
          <input class="input-custom" placeholder="Logradouro" formControlName="logradouro" />

          <!-- Bairro -->
          <input class="input-custom" placeholder="Bairro" formControlName="bairro" />

          <!-- Estado -->
          <input class="input-custom" placeholder="Estado" formControlName="estado" />

          <!-- Cidade -->
          <input class="input-custom" placeholder="Cidade" formControlName="localidade" />

          <!-- Complemento -->
          <input class="input-custom" placeholder="Complemento" formControlName="complemento" />
          <div class="button-group">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button color="warn" type="button" (click)="addressForm.reset()">Apagar</button>
            <button mat-raised-button color="primary" type="submit" (click)="enviarFormulario()">Salvar Cliente</button>
          </div>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
